%liafter{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #e9204f;
    transition: .3s;
}
.dg-btn{
    position: relative;
    padding: 12px 30px;
    border: 1px solid #e9204f;
    color: #fff;
    border-radius: 0;
    font-weight: 700;
    transition: .3s;
    z-index: 1;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        background: #e9204f;
        transition: .3s;
        z-index: -1;
    }
    &:hover{
        background: #e9204f;
        color: white;
        &::after{
            width: 100%;
        }
    }
}
.line{
    height: 2px;
    width: 80px;
    margin: 15px 0;
    background: #e9204f;
}
// Header start
#header{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    .logo{
        a{
            color: #fff;
            font-size: 40px;
        }
    }
    .menu{
        li{
            a{
                position: relative;
                text-decoration: none;
                color: #fff;
                padding: 5px 0;
                &.active{
                    &::after{
                        @extend %liafter;
                        width: 25px;
                    }
                }
                &::after{
                    width: 0;
                    @extend %liafter;
                }
                &:hover{
                    &::after{
                        width: 25px;
                    }
                }
            }
        }
    }
}
// Header end
// Digital start
#digital{
    background-color: #000;
    background-image: url(../photo/hero_02.jpg);
    background-repeat: no-repeat;
    background-position: 85% 5%;
    background-size: 840px;
    height: 100vh;
    padding: 170px 0;
        .digital-middle{
            color: #fff;
            z-index: 10;
            h1{
                font-size: 80px;
                margin-bottom: 20px;
            }
        }
    }

